doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= title
    link(rel="stylesheet" type="text/css" href="/stylesheets/index.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/sticky-footer.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/extends_bootstrap/index.css")
  body
    .menu
      include ./menu.jade
    
    .content-2
     .container-fluid
      .row
       .col-md-12
        .card
         .content-2
          form(name="consultar",action="/consulta/salud", method="get")
           .row
            .col-md-12
             .form-group
              label Altura
              - if (typeof(altura) !== 'undefined' && altura>0){
                input#idAltura.form-control(type="text", name="idAltura", value=altura,required)
              -}else{
                input#idAltura.form-control(type="text", name="idAltura",required)
              -}
           .row
            .col-md-12
             .form-group
              label Peso
              -if (typeof(peso) !== 'undefined' && peso>0){
                input#idPeso.form-control(type="text", name="idPeso" value=peso,required)
              -}else{
                input#idPeso.form-control(type="text", name="idPeso",required)
              -}
           .row
            .col-md-12
             .form-group
              label Edad
              -if (typeof(edad) !== 'undefined' && edad>0){
                input#idPeso.form-control(type="text", name="idEdad" value=edad,required)
              -}else{
                input#idPeso.form-control(type="text", name="idEdad",required)
              -}
           .row
            .col-md-12
             .form-group
              label Masa Corporal
              input.form-control(type="text" value=masa)
           input.btn.btn-success(type="submit")
           .clearfix
     
    .footer
      include ./footer.jade
    script(type="text/javascript" src="/javascripts/jquery-2.2.1.min.js")
    script(type="text/javascript" src="/javascripts/bootstrap.min.js")